/*general*/
body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.3px;
}
h2 {
    font-size: 22px;
}
.container {                               
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
.container img{
    width:243px;
    height:45px; 
}
.row{                                      
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
/*banner image */
.banner img{                              
    width:100%;
    height: auto;
}
/*for not underlined text*/
.container .social a {                  
 text-decoration:none;
}
/*for paragraph font*/
.container p {                           
    font-family: Arial;
    color: #8D8D8D;
}
/*for servise left side styling*/
.services {                               
    width:50%;
    float: left;
    margin: auto;
} 
/*for about right side styling*/
.about{                                   
    width:50%;
    float: right;
    margin: auto;
}
/*to change the color of a tags*/
.container a {                             
color: blue;
}
/*for horizontal line and space correction between div*/
.top{                                       
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 41px;
    padding-top: 25px;
}
/*double section */
.second-col {
    border-bottom: 2px solid #EDEDED;    
    margin-bottom: 50px;
    display: flex;
    padding-bottom: 42px; 
    padding-top: 18px;
    
}
 /*section left*/
.services p {                            
    line-height:2;                         
    padding-bottom: 20px;
}
  /*section right*/
.about p {                               
    line-height: 2;
    padding-bottom: 20px;
}
 /*box section*/
.box{                                     
    height:250px;
    text-align: center;
    background-color:#F4F4F4;
    padding-top: 20px;
    padding-bottom: 20px;
}         
/*box paragraph*/          
.box p{                                     
    padding-left: 308px;
    padding-right: 308px;
}
/*box content wrapping*/
.box .connect{                               
    padding-top: 40px;
}    
.connect p{
    line-height: 2;
}
.top p{
    padding-top: 9px;
    padding-bottom: 5px;
}
/*left image section*/
.left{                                       
    margin-top: 40px;
    height: 270px;
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 45px;
}
.left .image img{
    float: left;
    width:35%;
    height: 270px;
} 
 /*content wrapping*/
.left .content{                              
    margin-top: -15px;
    float: right;
    height:270px;
    width: 62%;
    padding-left: 30px;
}
.left p{
    line-height: 2;
}
  /*right image section*/
.right{                                     
    margin-top: 40px;
    height: 270px;
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 45px;
}
.right img{
    float:right;
    width:35%;
    height:270px;
}
.right .content2{
    float:left;
    margin-top: -15px;
    height:270px;
    width: 62%;
    padding-right: 30px;
}
.right p{
    line-height: 2;
}
  /*bottom 1 section content*/
.bottom1{
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 57px;
    line-height: 2;
}
.bottom1 p{
    padding-left: 290px;
    padding-right: 290px;

}
  /*bottom 2 section 2 images*/
.bottom2 {
    margin-top: 45px;
    border-bottom: 2px solid #EDEDED;
    padding-bottom: 425px;
}
.bottom2 img{
    width:313px;
    height:250px;
}
.bottom2 .img1{
    float:left;
    width: 48%;
}
.bottom2 .img1 p{
    text-align: left;
}
.bottom2 .img2{
    float:left;
    width: 48%;
    padding-left: 20px;
}
.bottom2 .img2 p{
    text-align: left;
}
  /*footer*/
#footer {
    margin-top: 34px;
}
ul{
    text-align: center;
}
ul li{
    display: inline;
    margin-right:40px;

}
#footer p{
    text-align: center;
    color: #8D8D8D;
}
#footer p.address{
    font-size: 14px;
}
#footer address{
    text-align: center;
}
#footer a i{
    color: blue;
}



